<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <div id="inner-frame">
        <%- include('../partials/header') %> <%-
        include('../partials/navigation') %>

        <main><%- body %></main>
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
